:root {
    --accent-color: #2196f3;
    --white-color: #fff;
    --white-100-color: #f5f4fa;
    --black-color: #000;
    --opacity-link-color: rgba(255, 255, 255, 0.6);
    --gray-color: #757575;
    --base-color: #212121;
    --additional-color: #2f303a;
    --button-hover: #188ce8;
    --header-border: #ececec;
    --project-border-color: #eeeeee;
    --icon-color: #afb1b8;
    --text-color: #1F45FC;
    --base-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}